<!DOCTYPE html>
<html ng-app="MyModule">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>AngularJS workshop</title>
</head>
<body>

</body>
</html>
